html {
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    color: #eff7f6;

}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10002b;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    padding: 0 1rem 1rem 1rem;
    background-image:
        radial-gradient(at top,
            rgba(18, 130, 162, 0.2), rgba(0, 19, 53, 0.2)),
        linear-gradient(to top left,
            #001335, #002668 55%, #001f54 55%, #001335);
    border: 0.8rem groove #4a6ca7;
}

h3 {
    margin: 0.5rem 0;
}

/* .header h3 {
    color: #4a6ca7;
} */

.play-to-section {
    padding: 1rem;
    color: #4a6ca7;
}


.header::after {
    content: "";
    background:
        radial-gradient(#002668, #10002b);
    display: block;
    width: 100vh;
    height: 3px;
}

.score-table {
    padding: 0;
}

.score-table::after {
    content: "";
    background:
        radial-gradient(rgba(74, 108, 167, 0.7),
            rgba(0, 19, 53, 0.2));
    display: block;
    width: 100%;
    height: 3px;
}

.score-table li {
    display: inline;
    margin: 0 1rem;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.icon {
    width: 100px;
    height: 95.75px;
    border: 5px solid black;
    border-radius: 0.25rem;
}

#rock {
    background: url("./images-rps/rock.svg");
    background-size: cover;
}

#paper {
    background: url("./images-rps/paper.svg");
}

#scissors {
    background: url("./images-rps/scissors.svg");
}

.result-display {
    height: 300px;
    width: auto;
}