html {
    font-family: "Play", sans-serif;
    font-size: 18px;
    color: #eff7f6;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10002b;
    text-align: center;
}

.container {
    margin: 0 20%;
    padding: 0 1rem 1rem 1rem;
    background-image:
        radial-gradient(at top,
            rgba(18, 130, 162, 0.2), rgba(0, 19, 53, 0.2)),
        linear-gradient(to top left,
            #001335, #002668 55%, #001f54 55%, #001335);
    border: 0.8rem groove #4a6ca7;
}

.header,
.footer {
    font-family: "Exo 2", sans-serif;
}

h1 {
    margin: 1rem auto;
}

h3 {
    margin: 0.5rem 0;
}

.play-to-section {
    padding: 0.5rem;
    color: #4a6ca7;
}

.header::after {
    content: "";
    background:
        radial-gradient(#002668, #10002b);
    display: block;
    width: 100vh;
    height: 3px;
}

.score-table {
    padding: 0;
}

.score-table::after {
    content: "";
    background:
        radial-gradient(rgba(74, 108, 167, 0.7),
            rgba(0, 19, 53, 0.2));
    display: block;
    width: 100%;
    height: 3px;
}

.score-table li {
    display: inline;
    margin: 0 2.2rem;
}

#tie-score {
    margin-left: 3.5rem;
    margin-right: 2.5rem;
}

.computer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.icon {
    width: 100px;
    height: 95.75px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
}

.icon svg {
    transform: rotate(90deg);
    fill: #64a5db;
}

.player-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-btn {
    width: 110px;
    height: 105.75px;
    margin: 0 1rem;
    background-image:
        radial-gradient(at top,
            rgba(18, 130, 162), rgba(0, 19, 53));
    border-radius: 0.25rem;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.player-btn svg {
    transform: rotate(270deg);
    fill: #b6f3ec;
}

.player-btn:hover {
    box-shadow: 0 0 0.3rem #4a6ca7;
    cursor: pointer;
}

.player-btn:active {
    border-style: none;
}

.result-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
}

#play-again::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-image:
        radial-gradient(rgb(106, 137, 189),
            rgba(0, 19, 53, 0.3));
    opacity: 0;
    transform: scale(0);
    transform-origin: cetner;
    transition: opacity 250ms, transform 250ms;
}

#play-again:hover::after {
    opacity: 1;
    transform: scale(1);
    transform: translate3d(0, 0.3rem, 0);
}

#play-again:hover {
    cursor: pointer;
}


.player-icons {
    margin-bottom: 2.5rem;
}

.mk-choice::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-image:
        radial-gradient(rgba(74, 108, 167, 0.4),
            rgba(0, 19, 53, 0.2));
    margin-top: 0.2rem;
}

.reset {
    transform: translateY(-2rem);
}

.reset-btn {
    font-weight: 600;
    width: 140px;
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #eff7f6;
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    background-image:
        -webkit-linear-gradient(bottom, #5d0023 50%, #ff2276 50%, #5d0023);
    background-size: cover;
    -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    border: #5d0023;
}

.reset-btn:hover {
    background-image: linear-gradient(rgba(245, 155, 155, 0.2), rgba(245, 155, 155, 0.2)),
        -webkit-linear-gradient(bottom, #5d0023 50%, #ff2276 50%, #5d0023);
    color: #290211;
    cursor: pointer;
}

.reset-btn:active {
    transform: scaleX(0.99);
}

.author {
    margin: 0 auto;
    font-weight: 100;
}